#firstpara{
    text-align: center;
    background-color: aquamarine;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
#secondpara{
    text-align: center;
    background-color: aquamarine;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;   
}
#thirdpara{
    text-align: center;
    background-color: aquamarine;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
#forthpara{
    text-align: center;
    background-color: aquamarine;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
#fifthpara{
    text-align: center;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}