h1{
    text-align: center;
    font-size: 50px;
    color: rgb(60, 103, 182);
}
.login{
    width: 70%;
    height: 400px;
    background-color: rgb(230, 220, 220);
    margin: auto;
    margin-top: 10px;
}
form{
    margin: auto;
    padding: 50px 40px;
}
form label{
    padding: 80px;
    margin: 20px;
}
.submit{
    display: block;
    margin: auto;
    padding: 8px;
}