.text{
    font-family: Arial, Helvetica, sans-serif;
}
.border1{
    border: 1px;
    background-color: cornflowerblue;
    text-align: left;
}
.check{
    margin-left: 16%;
}
.background{
    background-image: url('back2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
