body {
    box-sizing: border-box;
}
/* --- Nav-bar styling --- */
header {
    margin-top: 15px;
}
nav, .Logo, .menu {
    margin-bottom: 0;
    margin-top: 0;
}
.Logo{
    margin-left: 20px;
    width: 120px;
    height: 40px;
}
.Logo .menu {
    display: inline;
}
.menu {
    float: right;
}
.menu li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
a {
    text-decoration: none;
}
li:hover {
    background-color: beige;
    font-size: 25px;
}
/* --- Section styling --- */
.home-section {
    width: 80%;
    position: absolute;
    margin-left: 5px;
} 
section {
    border: 1px solid lightgrey;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #a0a0a0;
}
.c1, .c2, .c3 {
    display: inline-block;
    width: auto;
    padding: 5px;
}
.hd1 {
    font-size: 20px;
}
.hd2 {
    font-size: 18px;
    color: black;
}
p {
    padding-bottom: 10px;
    color: rgb(68, 68, 68);
}
.c1 {
    margin-left: 10px;
}
/* --- Side Content --- */
aside {
    border: 1px solid lightgrey;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #a0a0a0;
    width: 14%;
    float: right;
    position: relative;
    text-align: center;
}
.subMail {
    margin-bottom: 15px;
    width: 100%;
    float: left;
    padding: 12px 0px;
}
.btn {
    background-color: rgb(122, 122, 165);
    font-size: 20px;
}
.label {
    float: left;
    font-size: 20px;
}
/* --- Jobs Page Styling --- */
.notifications .n {
    width: 100%;
}
/* --- Register Page Styling --- */
.imp {
    width: 60%;
    margin-left: 20%;
    border: 1px solid lightgrey;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #a0a0a0;
}
form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    font-weight: normal;
}
.heading, .sub-heading {
    font-weight: bold;
}
.heading {
    text-align: center;
}
.sub-heading {
    text-decoration: underline;
}
.button {
    margin-top: 10px;
    font-size: 15px;
    margin-right: 10px;
    background-color: rgb(122, 122, 170);
}
/* --- Login --- */
.imp2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}
#fpwd {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    display: block;
    margin: 0;
    cursor: pointer;
}
.lip {
    width: 97%;
    font-size: 15px;
    padding: 5px 0px;
}
