*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(62, 62, 85);
    color: rgb(181, 181, 185);
}
label {
    margin: 12px;
    padding: 2px;
    display: inline-block;
    width: 250px;
    text-align: justify;
  }
nav{
    float: left;
    width: 15%;
    height: 1065px;
    background-color: lightgrey;
    padding: 20px;
}
nav ul{
    list-style: none;
    padding: 15px;
}
fieldset{
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 2%;
    width: 80%;
    padding: 0px;
    text-align: left;
}
fieldset div header{
    text-align: left;
}
.submit{
    display: block;
    text-align: center;
    margin: auto;
    padding: 12px;
}
.header{
    background-color: rgb(62, 62, 85);
}
.h3{
    background-color: rgb(102, 102, 112);
    padding: 6px;
    text-align: center;
    color: white;
}
.nav1{
    float: left;
    width: 15%;
    height: 1040px;
    background-color: lightgrey;
    padding: 20px;
}
.nav2{
    float: left;
    width: 15%;
    height: 340px;
    background-color: lightgrey;
    padding: 20px;
}
.img{
    float: right;
    display: block;
    height: 5%;
    margin: 0%;
}
