*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{display: flex;
    align-items: center;
    padding: 20px;
    text-align: right;
}
nav ul{display: inline-block;
    list-style: none;
}
nav img{width: 200px;
}
.nav-link{margin-left: 400px;
}
.nav-link ul li{display: inline-block;
    margin-right: 20px;
}
.log{margin-left: 100px;
}
a{text-decoration: none;
    color: rgb(7, 7, 7);
}
a:hover {color: #0d49ec;
}
#login a{background-color: cornflowerblue;
    padding-top: 5px;
    width: 80px;height: 30px;
    display: block;text-align: center;
    border-radius: 10px;
}
.fi-login{text-align: center;
    width: 400;
    height: 500px;
    display: block;
}
.col-i1{border: 1px solid black;
    display: inline-block;
    padding: 20px;
    background-image: url('search_back.jpg') ;
    width: 100%;
    display: inline-flex;
}
#sj{margin-left:120px ;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-i1 input{width: 500px;
    height: 50px;
    font-size: 16px;
    margin-left: 100px;
}
.col-i1 span{background-color: cornflowerblue;
    width: 100px;text-align:center;
    font-size: 16px;
}
.tch{ padding-top: 10px;
    flex: 25% ;
    margin-left: 200px;
    display: inline-flex;
}
#tchp{margin-left:250px;
    padding-top: 40px ;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tch p{text-align: center;
    font-size: 28px;
    margin-top: 150;
}
label{width: 200px;
    padding: 10px;
    display: inline-block;
    offset-distance: 10px;
    margin-left: 20px;
}
.logfield{margin-left: 10%;
        margin-right: 16%;
        margin-top: 2%;
        width: 80%;
        padding: 0px;
}
h2{background:linear-gradient(#B9C7F6,#B9C7F6);
    padding: 20px;
}
.logfield div header{text-align: center;
}
#head3{background: linear-gradient(#B9C7F6,#B9C7F6);
    padding: 16px;
}
.submit{margin-left: 60px;margin-right: 60px; padding: 20px 20px;
    color: #B9C7F6;
    font-size:16px;
}
.tooltip {
    position: relative;
    margin-left: 100px;
    background-color:cornflowerblue;
    display: block;
    text-align: center;
    padding-top: 15px;
    width: 200px ;height:50px;
    border-radius: 10px;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(200, 224, 167);
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}