body{
    background-color: cadetblue;
} 
#bol{ 
    text-align: center; 
    color: rgb(131, 233, 122);
    background-color: rgb(184, 11, 175);
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
.container{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
}
img{
    float: left;
    width: 400px;
    min-height: 400px;
    padding: 0 10 0 0;
}
.text{
    text-align: justify;
    font-family: Verdana;
}